mat-form-field {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dateFrame {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}
.dateFrame > * {
  width: 49%;
}

button {
  width: 100%;
  border-radius: 4px;
  background-color: #00bfff;
  color: white;
}
