<form [formGroup]="stockPickerForm">
  <mat-form-field>
    <input
      matInput
      placeholder="Symbol e.g AAPL"
      formControlName="symbol"
      value=""
      (change)="handleSymbol()"
    />
    <mat-error
      ><span
        *ngIf="
          !stockPickerForm.get('symbol').valid &&
          stockPickerForm.get('symbol').touched
        "
        >Please enter a symbol</span
      >
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Favorite time period</mat-label>
    <mat-select (selectionChange)="handleTimeFrameChange($event.value)">
      <mat-option
        *ngFor="let timePeriod of timePeriods"
        [value]="timePeriod.value"
      >
        {{ timePeriod.viewValue }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <div class="dateFrame">
      <mat-label>Date from</mat-label>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <input
        matInput
        [max]="maxDate1"
        [matDatepicker]="picker"
        formControlName="from"
        (dateChange)="handleDateChange(0, $event)"
      />
    </div>
    <div class="dateFrame">
      <mat-label>to</mat-label>
      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker #picker2></mat-datepicker>
      <input
        matInput
        [min]="minDate2"
        [max]="maxDate1"
        [matDatepicker]="picker2"
        formControlName="to"
        (dateChange)="handleDateChange(1, $event)"
      />
    </div>
    <div><button (click)="fetchQuote()" mat-raised-button>Go</button></div>
  </mat-form-field>
</form>

<coding-challenge-chart [data$]="quotes$"></coding-challenge-chart>
